{% extends "base.html" %}

{% block title %}
    Dream Cars 🏎️
{% endblock %}

{% block content %}
{% load static %}
    <div class="hero-wrap js-fullheight" style="background-image: url('{{ background_image }}');">
        <div class="overlay"></div>
        <div class="container"> 
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading" style="color: rgb(252, 251, 251);">Bienvenido a Dream Cars</span>
                    <h1 style="color: rgb(252, 251, 251);">Haz realidad tu sueño sobre ruedas</h1>
                </div>
                <a href="{% static 'images/intro.mp4' %}" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>
    <footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(images/bg_3.jpg);">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md pt-5">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Acerca de</h2>
                        <p>En Dreams Cars, somos la concesionaria más destacada del mercado. Nos dedicamos a ofrecerte una experiencia inolvidable.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Informacion</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Online Enquiry</a></li>
                            <li><a href="#" class="py-2 d-block">General Enquiries</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Refund Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Call Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Opciones</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">0 KM</a></li>
                            <li><a href="#" class="py-2 d-block">Usados</a></li>
                            <li><a href="#" class="py-2 d-block">Planes de ahorro</a></li>
                            <li><a href="#" class="py-2 d-block">Post Venta</a></li>
                            <li><a href="#" class="py-2 d-block">Foro</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md pt-5 border-left">
                    <div class="ftco-footer-widget pt-md-5 mb-4">
                        <h2 class="ftco-heading-2">Contacta Con Nosotros</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map-marker"></span><span class="text">A005, 123, Río Cuarto, Córdoba</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+358-800-8990</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">dream_cars@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | DREAM CARS S.A.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}
