<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Usuario</title>
</head>
<body>
    <div class="container">
        <h2>Registro</h2>
        <form method="post" action="{% url 'home_app:register' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                {{ form.apellido }}
            </div>
            <div class="form-group">
                <label for="direccion">Dirección:</label>
                {{ form.direccion }}
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono:</label>
                {{ form.telefono }}
            </div>
            <div class="form-group">
                <label for="dni">DNI:</label>
                {{ form.dni }}
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="password">Contraseña:</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <label for="role">Rol:</label>
                {{ form.role }}
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
        <p>¿Ya tienes cuenta? <a href="{% url 'home_app:login' %}">Inicia sesión aquí</a></p>
    </div>
</body>
</html>
