{% extends 'baseAdmin.html' %}
{% block title %}Eliminar Venta{% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-8 large-6">
      <h1 class="text-center">Eliminar Venta</h1>
      <p class="text-center">¿Estás seguro de que deseas eliminar esta venta?</p>

      <!-- Formulario de confirmación de eliminación -->
      <form method="post" class="text-center">
        {% csrf_token %}
        <button type="submit" class="button alert">Eliminar</button>
      </form>

      <!-- Enlace para volver a la lista de ventas -->
      <div class="text-center">
        <a href="{% url 'ventas:ventas_list' %}" class="button secondary">Volver a la lista</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
