<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a>Adminitrar Proveedores</a></li>
        <li><a>Administrar Vehiculos</a></li>
        <li><a>Administrar Ventas</a></li>
        <li><a>Administrar Usuarios</a></li>
        <li><a>Administrar Empleados</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar"></li>
        <li><a>Usuario</a></li>
      </ul>
    </div>
  </div>