<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Ficha Técnica</title>
</head>
<body>
    <h1>Crear Ficha Técnica</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.puertas.label_tag }}
            {{ form.puertas }}
        </div>
        <div class="form-group">
            {{ form.cilindradas.label_tag }}
            {{ form.cilindradas }}
        </div>
        <div class="form-group">
            {{ form.combustible.label_tag }}
            {{ form.combustible }}
        </div>
        <div class="form-group">
            {{ form.paisFabrica.label_tag }}
            {{ form.paisFabrica }}
        </div>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'vehiculos_app:modelo-create' %}">Volver a la creación de modelo</a>
</body>
</html>
