{% extends 'baseAdmin.html' %}
{% block title %} Crear Marca {% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-8 large-6">
      <h1 class="text-center">Crear Marca</h1>

      <form method="post">
        {% csrf_token %}
        
        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.marca.label_tag }}
            {{ form.marca }}
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="button primary">Guardar</button>
        </div>
      </form>

      <div class="text-center">
        <a href="{% url 'vehiculos_app:modelo-create' %}" class="button secondary">Volver a la creación de modelo</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
