{% extends 'baseAdmin.html' %}
{% block title %} Crear Modelo {% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-8 large-6">
      <h1 class="text-center">Crear Modelo</h1>

      <form method="post">
        {% csrf_token %}
        
        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
          </div>
          <div class="cell shrink">
            <a href="{% url 'vehiculos_app:categoria-create' %}" class="button secondary small">Crear nueva categoría</a>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.marcas.label_tag }}
            {{ form.marcas }}
          </div>
          <div class="cell shrink">
            <a href="{% url 'vehiculos_app:marca-create' %}" class="button secondary small">Crear nueva marca</a>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.fichaTecnica.label_tag }}
            {{ form.fichaTecnica }}
          </div>
          <div class="cell shrink">
            <a href="{% url 'vehiculos_app:ficha-tecnica-create' %}" class="button secondary small">Crear nueva ficha técnica</a>
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.modelo.label_tag }}
            {{ form.modelo }}
          </div>
        </div>

        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.año.label_tag }}
            {{ form.año }}
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="button primary">Guardar</button>
        </div>
      </form>

      <div class="text-center">
        <a href="{% url 'vehiculos_app:vehiculo-create' %}" class="button secondary">Volver a la creación de vehículo</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
