<!DOCTYPE html>
<html>
<head>
    <title>Crear Modelo</title>
</head>
<body>
    <h1>Crear Modelo</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.categoria.label_tag }}
            {{ form.categoria }}
            <a href="{% url 'vehiculos_app:categoria-create' %}">Crear nueva categoría</a>
        </div>
        <div class="form-group">
            {{ form.marcas.label_tag }}
            {{ form.marcas }}
            <a href="{% url 'vehiculos_app:marca-create' %}">Crear nueva marca</a>
        </div>
        <div class="form-group">
            {{ form.fichaTecnica.label_tag }}
            {{ form.fichaTecnica }}
            <a href="{% url 'vehiculos_app:ficha-tecnica-create' %}">Crear nueva ficha técnica</a>
        </div>
        <div class="form-group">
            {{ form.modelo.label_tag }}
            {{ form.modelo }}
        </div>
        <div class="form-group">
            {{ form.año.label_tag }}
            {{ form.año }}
        </div>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'vehiculos_app:vehiculo-create' %}">Volver a la creación de vehículo</a>
</body>
</html>
