{% extends 'baseAdmin.html' %}
{% block title %} Lista de Usuarios {% endblock title %}
{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-8 large-6">
      <h1 class="text-center">Lista de Usuarios</h1>

      <!-- Botón para crear un nuevo usuario -->
      <div class="text-center">
        <a href="{% url 'personas_app:usuarios-agregar' %}" class="button primary">Crear Usuario</a>
      </div>

      <!-- Formulario de búsqueda -->
      <form method="get">
        <label for="id_query" class="middle">Buscar usuarios:</label>
        <div class="grid-x grid-margin-x">
          <div class="cell auto">
            {{ form.query }}
          </div>
          <div class="cell shrink">
            <button type="submit" class="button primary">Buscar</button>
          </div>
        </div>
      </form>

      <!-- Lista de usuarios -->
      <ul class="no-bullet">
        {% for usuario in usuarios %}
          <li class="card">
            <div class="card-section">
              <div class="grid-x grid-margin-x align-middle">
                <div class="cell auto">
                  <a href="{% url 'personas_app:usuarios-detail' usuario.pk %}">
                    {{ usuario.nombre }} {{ usuario.apellido }} - {{ usuario.dni }}
                  </a>
                </div>
                <div class="cell shrink">
                  <a href="{% url 'personas_app:usuarios-delete' usuario.pk %}" class="button alert small">
                    <i class="fa fa-trash"></i> Eliminar
                  </a>
                </div>
              </div>
            </div>
          </li>
        {% empty %}
          <li>No se encontraron usuarios.</li>
        {% endfor %}
      </ul>
      {% include 'includes/pagination.html' %}
    </div>
  </div>
</div>

{% endblock content %}
