{% extends 'baseAdmin.html' %}
{% block title %} Confirmar Eliminación {% endblock title %}
{% block content %}

<div class="grid-container">
  <div class="grid-x grid-margin-x align-center">
    <div class="cell medium-8 large-6">
      <h1 class="text-center">Confirmar Eliminación</h1>
      <div class="callout alert">
        <p>¿Estás seguro de que deseas eliminar "{{ usuario.nombre }} {{ usuario.apellido }}"?</p>
        <form method="post">
          {% csrf_token %}
          <div class="button-group">
            <button type="submit" class="button alert">Eliminar</button>
            <a href="{% url 'personas_app:usuarios-list' %}" class="button secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
